/* Variables */
:root{
  --primary-color: #28A745;
  --secondary-color: #212529;
  --tertiary-color: #707070;
  --fourthary-color: #DDDDDD;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#header{
  background-color: var(--primary-color);
}
#header img{
  width: 8.6rem;
}
#form-elements{
  background-color: var(--primary-color);
  color: #ffffff;
}
#logo-msn img{
  width: 8.2rem;
}